*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header div.container{
    background-color: rgb(14, 71, 57);
    color: white;
}

.header div.container i{
    color: white;
    border: none;
}

.form_1 div.container{
    border: 1px solid red;
    width: 50%;
    padding: 20px 0px;
}
label{
    font-weight: bold;
    text-transform: capitalize;
    display: block;
    margin-top: 20px;
}
.form_1 div.trip_details_select{
    width: 100%;
}
.form_1 div.trip_details_number{
    width: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

p{
    color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    text-align: left;
    margin-top: 3px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-left: 8px;
    margin-right: 8px;
}
span{
    color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    text-align: left;  
}
.input_helper_text{
    margin-top: 5px;
}
.input_helper_text div.container-fluid{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

a{
    display: block;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 13px;
}


